# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/config

/config.h
/config.log
/config.status

# Additional artefacts.
Makefile
/docs/

# C++ Dev

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
/nbproject

# Build
.deps/

# Additional artefacts.
/game/*.h
/images/hex*

# GNU Gettext
po/*.gmo
po/*.mo
po/Makefile.in.in
po/Makefile.in.in~
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.insert-header
po/en@boldquot.header
po/en@boldquot.po
po/en@quot.insert-header
po/en@quot.header
po/en@quot.po
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/stamp-it
po/tmp
po/.intltool-merge-cache

