<header class="w3-container w3-top">
<img src="images/occillo.svg" alt="logo" height="32px">
&nbsp;
<h1>{{ site.title }}</h1>  
<div class="w3-dropdown-hover w3-right">
  <button class="w3-btn w3-xxlarge" style="background: #111;"><i class="fa fa-bars"></i></button>
  <div class="w3-dropdown-content w3-border" style="right:0">
    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
      {% if p.navigation_weight %}
          <a href="{{ p.url }}" {% if p.url == page.url %}class="w3-indigo"{% else %}class="w3-black"{% endif %}>{{ p.navigation_menu }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
</header>